<div class="container-fluid footer" id="fondoimagen">

    <div clas="row align-items-center ">

        <div class="col align-items-start">
            <img src="../imagenes/catar 2022.jpg">
        </div>

    </div>

    <div class="col-3 text-center" id="autor">
        <p><b>© Derechos Reservados</b></p>
        <p>Grupo 8</p>
        <p>2022</p>
    </div>



    <div class="grupo">

        <ul class="list-group">

            <li class="list-group-item  ">
                <p>Arroyo Flavia</p>
                <a href=""><img class="logog" src="../imagenes/github.png"></a>
            </li>
          

            <li class="list-group-item  ">
                <p>Peña Alejandra</p>
                <!--Poner direccion d GitHub en href-->
                <a href=""><img class="logog" src="../imagenes/github.png"></a>
            </li>



            <li class="list-group-item ">
                <p>Ramos Ruben</p>
                <a href=""><img class="logog" src="../imagenes/github.png"></a>
            </li>

        </ul>
    </div>
</div>