<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../estilos/main.css">

    <link rel="stylesheet" href="../estilos/grupos.css">
    <link rel="stylesheet" href="../estilos/login.css">


    <title>Convocatoria Mundial Qatar 2022</title>
</head>


<body>
    <header>
        <%- include('header'); -%>




    </header>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="imagenes/imagenes/banner/jugadorcampeones.webp"
                    class="d-block w-100 img-fluid" alt="...">
            </div>
            
            <div class="carousel-item">
                <img src="imagenes/imagenes/banner/messigol.jpg" class="d-block w-100  img-fluid"alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>

    <main>
        <div class="contenGrupos">
            <h1>Grupos del Mundial Qatar 2022</h1>
           
            <div class="grupoMundial">
                <h3>GRUPO A</h3>
                <div class="descripcion">
            
                    <div class="bandera">
                        <img src="../imagenes/QATAR.PNG">
                        <h4>QATAR</h4>
                    </div>
                    <div class="bandera">
                        <img src="../imagenes/ecuador.png">
                        <h4>ECUADOR</h4>
                    </div>
                    <div class="bandera">
                        <img src="../imagenes/Senegal.png">
                        <h4>SENEGAL</h4>
                    </div>
                    <div class="bandera">
                        <img src="../imagenes/paises-bajos.png">
                        <h4>PAISES BAJOS</h4>
                    </div>
            
            
                </div>
            </div>
            <div class="grupoMundial">

                <h3>GRUPO B</h3>

              

                    <div class="bandera">
                        <img src="../imagenes/inglaterra.png">
                        <h4>INGLATERRA</h4>

                    </div>

                    <div class="bandera">
                        <img src="../imagenes/iran.png">
                        <h4>IRAN</h4>

                    </div>

                    <div class="bandera">
                        <img src="../imagenes/estados-unidos-de-america.png">
                        <h4>EE.UU</h4>

                    </div>


                    <div class="bandera">
                        <img src="../imagenes/gales.png">
                        <h4>GALES</h4>

                    </div>


              

            </div>
            <div class="grupoMundial">

                <h3>GRUPO C</h3>
               

                    <div class="bandera">
                        <img src="../imagenes/argentina.png">
                        <h4>ARGENTINA</h4>


                    </div>

                    <div class="bandera">
                        <img src="../imagenes/arabia-saudita.png">
                        <h4>ARABIA SAUDITA</h4>

                    </div>

                    <div class="bandera">
                        <img src="../imagenes/mexico.png">
                        <h4>MEXICO</h4>

                    </div>


                    <div class="bandera">
                        <img src="../imagenes/polonia.png">
                        <h4>POLONIA</h4>

                    </div>



            </div>
            <div class="grupoMundial">

                <h3>GRUPO D</h3>

               

                    <div class="bandera">
                        <img src="../imagenes/francia.png">
                        <h4>FRANCIA</h4>

                    </div>

                    <div class="bandera">
                        <img src="../imagenes/dinamarca.png">
                        <h4>DINAMARCA</h4>

                    </div>

                    <div class="bandera">
                        <img src="../imagenes/tunez.png">
                        <h4>TUNEZ</h4>

                    </div>


                    <div class="bandera">
                        <img src="../imagenes/australia.png">
                        <h4>AUSTRALIA</h4>

                    </div>


                

            </div>
            <div class="grupoMundial">

                <h3>GRUPO E</h3>

               

                    <div class="bandera">
                        <img src="../imagenes/alemania.png">
                        <h4>ALEMANIA</h4>

                    </div>

                    <div class="bandera">
                        <img src="../imagenes/japon.png">
                        <h4>JAPÓN</h4>

                    </div>

                    <div class="bandera">
                        <img src="../imagenes/espana.png">
                        <h4>ESPAÑA</h4>

                    </div>


                    <div class="bandera">
                        <img src="../imagenes/costa-rica.png">
                        <h4>COSTA RICA</h4>

                    </div>


              



            </div>
            <div class="grupoMundial">

                <h3>GRUPO F</h3>

                    <div class="bandera">
                        <img src="../imagenes/Marruecos.png">
                        <h4>MARRUECOS</h4>

                    </div>

                    <div class="bandera">
                        <img src="../imagenes/Croacia.png">
                        <h4>CROACIA</h4>

                    </div>

                    <div class="bandera">
                        <img src="../imagenes/Belgica.png">
                        <h4>BÉLGICA</h4>

                    </div>


                    <div class="bandera">
                        <img src="../imagenes/Canada.png">
                        <h4>CANADÁ</h4>

                    </div>


               

            </div>
            <div class="grupoMundial">

                <h3>GRUPO G</h3>

              

                    <div class="bandera">
                        <img src="../imagenes/Suiza.png">
                        <h4>SUIZA</h4>

                    </div>

                    <div class="bandera">
                        <img src="../imagenes/Camerun.png">
                        <h4>CAMERÚN</h4>

                    </div>

                    <div class="bandera">
                        <img src="../imagenes/Brazil.png">
                        <h4>BRASIL</h4>

                    </div>


                    <div class="bandera">
                        <img src="../imagenes/Serbia.png">
                        <h4>SERBIA</h4>

                    </div>


              
            </div>         


            <div class="grupoMundial">

                <h3>GRUPO H</h3>

                    <div class="bandera">
                        <img src="../imagenes/Uruguay.png">
                        <h4>URUGUAY</h4>

                    </div>

                    <div class="bandera">
                        <img src="../imagenes/Korea.png">
                        <h4>KOREA DEL SUR</h4>

                    </div>

                    <div class="bandera">
                        <img src="../imagenes/Portugal.png">
                        <h4>PORTUGAL</h4>

                    </div>


                    <div class="bandera">
                        <img src="../imagenes/Ghana.png">
                        <h4>GHANA</h4>

                    </div>


                

            </div>
           
        </div>
   
    
    </main>
       <footer>
        <%- include('footer'); -%>
      

    </footer>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
        </script>

   
</body>

</html>