main{
    padding-top: 200px;    
   
}

.contenGrupos{
    
    color:whitesmoke;
    text-shadow: 5px 5px 5px whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../imagenes/imagenes/fondo10.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding-bottom: 10rem;
  
    
     
    background-position: center;
    
   
   

}

body{
    background-color: lightsteelblue;
}

/* h1{
    color: blue;
    text-shadow: 5px 5px 5px whitesmoke;
    text-align: center;
    font-size: 50px;
    
} */

.contenGrupos h1{
    display: block;
    padding: 2rem 0 2rem 0;
    width: 100%;
    color: blue;
    text-shadow: 5px 5px 5px whitesmoke;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
}


.grupoMundial{ 
    background-color:rgb(2, 65, 72); 
    width:90%;
    margin-bottom: 2rem;
    align-content: center;
    padding:2px;
    flex-direction: column;
}
  
.grupoMundial:hover{
    background-color: rgb(90, 79, 243);
 
}


.bandera{
    display:flex;
    margin:5px;
    padding:0px;
    border-style: outset;
    align-items: center;

  
}


.bandera img{
    height:35px;
    width: 35px;
    padding:8px;
    margin:0px;

}  

@media screen and (min-width:576px) {
    .grupoMundial{
        width: 70%;
    }
    
}


@media screen and (min-width:768px) {
    .contenGrupos{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    .grupoMundial{
        width: 40%;
        margin-right: 2rem;
    }
    
}


@media screen and (min-width:1200px) {
    
    .grupoMundial{
        width: 20%;
        
    }
    
}