body{
    font-family: 'Kalam', cursive;
    
}
h1{
    text-align: center;
    margin-top: 2rem;
  
  
}
#link{
    font-size: 23px;
}
.btn{
    margin: .5rem;

}
main{
    background-image: url(../imagenes/ilustracion-cartel-futbol-futbol-argentina-diseno-qatar-copa-mundial-2022_474905-88.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0 200px 0;
    width: 100vw;
    background-position: center;
    object-fit: fill;
}
#color{
    
    background-color: rgb(112, 175, 231);
    text-align: left;
}


.tituloCentral{
    width: 100%;
    color: white;
    text-align: center;
}
.contenedor{
    width: 75%;
    line-height: 1;
}
.visitante{
    
    color:#000c0c;
   
}
.visitante h1{
    box-shadow: 2px 7px 2px 1px rgba(0, 0, 0, 0.2);

}

#fondoimagen{
    background-image: url(../imagenes/cancha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    background-position: center;
    object-fit: fill;

}
.list-group-item{
    display: flex;
    justify-content: space-around;
    align-items: baseline;

}
.grupo{
    justify-content: space-between;
    display: flex!important;
    align-items: center;
    flex-direction: column;
}
.footer{
  
    justify-content: space-between;
    background-color:#fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#autor{
    font-size: 27px;
    color:#fefefe
}
.logog{
    max-width: 100px;
  
}



@media only screen and (min-width: 700px){
    .footer{
        flex-direction: row;
       
    }
    
 }

