/* jugadores*/
main{
    padding-top: 350px;
}
.nuevo{
    font-size: 30px;
    width: 30%;
}
.row{
    align-content: center;
}

/*Posicion de las tarjetas con las imagenes resppectivas de cada jugador*/
.card{
   position: relative;
   padding: 2rem;
   border-radius: 10%;
   width: 300px;
   margin:2rem;

}
.Tit_seleccionado{
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px blue;
    background-color: lightskyblue;
    border-radius: 30px;
    height: 70px;
    font-size: 50px;
}

/*Boton de eliminar jugador, para ser cambiado por otro*/
.eliminarjug{
    border: transparent;
    background-color: transparent;
    color: red;
}

 .jugCont{
    justify-content: space-around;
    /* color: black; */

 }
 
 /*tamaño de cartas en pantalla "Registro (Usuario ya registrado)"*/
.card-img-top{
    height: 230px;
}

.botonesedicion{
    position: absolute;
    top:0;
    right: 15px;
    
}
.botonesedicion a{
    color: blue;
}
