

.contCard h3{

    color: #1b1b1b;
    font-family: 'Arial';
    font-size: 17px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
}
.contCard p{
    color: #1b1b1b;
    font-family: 'Arial';
    font-size: 17px;

}
.contCard input[type="email"],.contCard input[type="password"],.contCard input[type="text"]{
    display: block;
    width: 100%;
    padding: 5px 0 5px 0;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0, .20);
    outline: none;
    font-size: 11pt;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
#linkCreateAcount{
    text-decoration: none;
}
    

.banner-image{
    position: absolute;
}
.contCard{
    

    position: relative;
    width: 100%;
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arial';
    font-size: 10px;
    color: #0067b8;
    text-decoration: none;
}
.contCard:before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .20);
    position: absolute;
    top: 0;
    left: 0;
}
.body-car{
    margin-top: 100px;
    width: 440px;
    height: 460px;
    background-color: #fff;
    padding: 44px 0;
    overflow: hidden;
    overflow-y: auto;
    z-index: 1;
}
.div-logo{
    padding: 0;
    justify-content: center;
    text-align: center;
    
    
}
.div-logo img{
    
    width: 100px;
    height: 80px;
    
    object-fit: cover;

}
.logoLogin{
    width: 110px;
    margin-bottom: 20px;
}
#contenedorForm{
    position: relative;
}
#contenedorForm > div{
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0 44px;
    width: 100%;
    transition:  .4s all;
}
.divButton{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
   
}
.divBtnLogin{
    margin-top: 60px;
}
.btnFormLogin{
    color: #fff;
    cursor:pointer;
    border: 0;
    background-color: #0067b8;
    padding: 8px 20px;
    font-size: 11pt;
    letter-spacing: 1px;
}
.label{
    color: #000;
    font-size: 11pt;
    display: block;
    margin-bottom: 20px;
}
#linkRecoverypass{
    text-decoration: none;
    font-size: 11pt;
    color: #0067b8;

    

}
#linkRecoverypass:hover{
    text-decoration: underline;
}

.divEmailUser{
    display: block;
    margin-bottom: 10px;

}
#btnPrev{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    margin-right: 5px;
}
#btnPrev i {

}
.divBtnAction{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.divBtnAction>button{
    width: 49%;
    margin-top: 3rem;
}

#btnCancelar{
    background-color: #5c5959;
    width: 50%;
}

.opacity0{
    opacity: 0;
}
.opacity1{
    opacity: 1;
    transition: opacity .6s;
}
.layoutActive{
    left:0 !important;
}  
.layoutleft{
    left:-100%  !important;
}
.layoutright{
    left: 100% !important;
}

@media (max-width:600px){
    .body-car{
        width: 98%;
        
    }
}

