

body{
    font-family: 'Kalam', cursive;
    
}
h1{
    text-align: center;
    margin-top: 2rem;
  
  
}
.btn{
    margin: .5rem;

}
main{
    background-image: url(../imagenes/ilustracion-cartel-futbol-futbol-argentina-diseno-qatar-copa-mundial-2022_474905-88.webp);
    
 
    object-fit: cover;
    width: 100%;
    overflow: hidden;
    height: auto;
    
   
}

.contenedor{
    width: 70%;
}


.tituloCentral{
    width: 60%;
    color: white;
    text-align: center;
}




/*header*/
#color{
    background-color: rgb(112, 175, 231);
    text-align: left;
}
.logog{
    max-width: 100px;
  
}
#link{
    width: 90%;
    border-color: black;
    background-color: rgb(82, 82, 249);
    color:#fefefe;
   
}
 #link:hover{
    background-color: rgb(193, 188, 245);

} 
.navbar .container{
    align-content: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 150px;
}





/* jugadores*/
.row{
    align-content: center;
}
.card{
   padding: 2rem;
   border-radius: 5%;
   width: 300px;
   margin:2rem;

}

    

.card:hover{
    border-color: blue;
    font-size: 20px;
    border: solid 4px blue;
    color:blue;
   
   
 }
 .jugCont{
    justify-content: space-around;

 }
 
.card-img-top{
    height: 300px;
}
/*carrusel*/
.carousel{
    margin-top: 150px;
    align-content: center;
}
.carousel-item{
    box-sizing: border-box;
    
    background-size: 100%;
    object-fit: contain;
}
/*footer*/

#fondoimagen{
    background-image: url(../imagenes/cancha.jpg);
    
    background-size: cover;
    
    background-repeat: no-repeat;
    
    background-position: center center;
   

}
.list-group-item{
    display: flex;
    justify-content: space-around;
    align-items: baseline;

}
.grupo{
    justify-content: space-between;
    display: flex!important;
    align-items: center;
    flex-direction: column;
}
.footer{
  
    justify-content: space-between;
    background-color:#fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 300px;
    
}
#autor{
    font-size: 27px;
    color:#fefefe
}






 /*media adaptar al tamaño lg*/

 @media only screen and (min-width:768px) {
    .contenedor{
        flex-direction: column;
    }
    .tituloCentral{
        width: 80%;
    }
    
    
 }

 @media only screen and (min-width: 700px){
    .footer{
        flex-direction: row;
       
    }
    
 }

 