@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: 'Poppins', sans-serif;*/
}

.titulo-futbol{
    color:rgb(71, 19, 19);
    border-style:outset;
    margin:5rem 0;
}
.partidos{
    
    flex-direction: column;
    
}
.partido{
    position: relative;
    background-color: #f6f7b7;
    
    margin: 2rem;
    height: auto;
    border-radius: 20px;
    box-sizing: border-box;
}
.partido img{
    width: 5rem;
    border-radius: 30px;
}
.fecha{
    font-size: 20px;
    padding-top: 2rem;
   

}
.nuevo{
    font-size: 30px;
    width: 80%;
    margin-bottom: 2rem;
}
.contrincantes{
    
    justify-content:space-evenly;
    align-items: center;


}
.botonesedicion{
    position: absolute;
    top:0;
    right: 15px; 
    
}

/*Boton eliminar carta en pantalla registro (Usuario registrado) */
.eliminar{
    border: transparent;
    background-color: transparent;
    color: red;
}
/*Icono editar carta d jugar cargado*/
.botonesedicion a{
    color:blue;
}

@media screen and (min-width:500px) {
    .partido{
        width: 100%;
    }
    
}
@media screen and (min-width:1000px) {
    .partido{
        width: 40%;
        margin-right: 2rem;
        
    }
    .partidos{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

    }
    .nuevo{
        width: 40%;
        margin: 2rem;
    }
    
}

@media screen and (min-width:1200px) {
    .partido{
        width: 25%;
       
        
    }
}