/**/
/* #Registro{
    margin-top: 80px;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    color: whitesmoke; 
    margin-top: 3cm ;
    background-color: rgb(15, 175, 190);

} */
.Registrate{
    padding-top: 300px;
}
.titulo {
    text-align: left;
    color: blue;
    margin-top: 6px;
    background-color:lightskyblue;
    box-shadow: 220px 100px 200px 10px lightblue;
    padding-top: 10px;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 4px lightgoldenrodyellow;
}
/*Estilo para el titulo principal*/
#PrimerTitulo{
    color: linen;
    font-size: 35px;
    /* text-decoration-line:overline; */
    /* text-decoration: yellow; */
    text-shadow: 2px 4px blue;
}

.form-select{
    color: lightyellow;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgoldenrodyellow;
    

}

.nombre {
    color: rgb(67, 64, 64);
    padding-top: 150px;
    padding: 10px;
}

/* Diseño del boton de registrarse*/
#BotonReg {
    padding: 15px;
    font-size: 14px;
    /* text-align: center;  */
    font-family: var(--bs-body-font-family);
    background-color: rgb(49, 49, 159);
    box-shadow: 2px 2px 12px 8px whitesmoke;
    margin-top: 16px;
    margin-bottom: 1cm;

}

/*INICIO - Diseños de inmput para el usuario(Efectos de sombra)*/
#inputName{
    box-shadow: 2px 2px 10px 8px;
    color: lightblue;
}

#inputfechaNac{
    box-shadow: 2px 2px 10px 8px;
    color: lightblue;
}

#inputEdad{
    box-shadow: 2px 2px 10px 8px;
    color: lightblue;
}

#inputmail{
    box-shadow: 2px 2px 10px 8px;
    color: lightblue;
}

#inputUser{
    box-shadow: 2px 2px 10px 8px;
    color: lightblue; 
}

#inputClave{
    box-shadow: 2px 2px 10px 8px;
    color: lightblue; 
}

#FormListaPaises{
    box-shadow: 2px 2px 10px 8px;
    color: lightblue; 
    
}
/*FIN - Diseños de inmput para el usuario(Efectos de sombra)*/


/*Responsive*/
/*Diseño y tamaño de las cajas de input (TextBox)*/
/* .container{
        width:800px ;
        text-align: left;
        padding: 5px;
        color: black;
    } */

@media only screen and(min-width:576px) {

    .container {
        width: 300px;
        box-sizing: border-box;
    }
}

/*Input controles*/

.form-control{
    background-color: lightskyblue;
    font-size: 18px;
    
    
}

/*Nombre del titulo de los input registro del usuario*/
.col-sm-12{
    /* background-color: lightblue; */
    color: cadetblue;
    
}

/*Logo Afa*/

.logo{
    /* height:10px ; */
    width:20px ;
    margin-left: 45px;
}