@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


/* .Registrate{ */
    /* padding-top: 350px; */
/* } */

/* titulos de input para el usuario */
.DatosRegUser{
    font-family: Gloria Hallelujah;
    /* text-decoration-style:unset; */
    text-transform:inherit;
    text-align: center;
}


/* TITULO */
.tituloCentral{
    text-decoration:wavy;
    text-transform:uppercase;
    text-shadow: 5px 5px 5px blue;
    /* font-size: 80px; */
    /* box-shadow: -5px 5px 5px 10px lightskyblue; */
}

/*alineación del tutulo de la pantalla de REGISTRO*/
.titulo {
    color:whitesmoke;
    margin-top: 2px;
    background-color:blue;
    margin: 10px;
    padding-top: 2px;
    font-size: 50px;
    text-align: center;
    text-shadow: 5px 5px 5px whitesmoke;
}


/*Seleccionador de paises en pantalla de registro*/
.form-select{ 
    /* color: lightyellow; */
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial, sans-serif';
    background-color: lightskyblue;
    
}

/*Titulo de los input para el usuario*/
.form-label{
    color:black;
    text-shadow: 5px 5px 5px 5px blue;
    margin-top: 2px;
     
}



/* Diseño del boton de registrarse*/
#BotonReg {
    padding: 2px;
    font-family: Gloria Hallelujah;
    font-size: 18px;
    background-color: lightblue;
    color:blue;
    text-decoration:underline;
    margin-top: 40px;
    margin-bottom: 15px;
    margin-left: 380px;
    width: 10px;
    height: 60px;
    padding-top: 2px;
    /*Fin margen del botón de registro*/
    border-radius: 10px;
}


/*INICIO - Diseños de input para el usuario(Efectos de sombra)*/
#inputName{
    box-shadow: 2px 10px 8px lightblue;
    /* color: black; */
    margin-top: 4px;
    padding: 3px;   
    
}

#inputfechaNac{
    box-shadow: 2px 10px 8px lightblue;
    /* color: black; */
    margin-top: 4px;
    padding: 3px;
}

#inputEdad{
    box-shadow: 2px 10px 8px lightblue;
    /* color: blue; */
    margin-top: 4px;
    padding: 3px;
}

#inputmail{
    box-shadow: 2px 10px 8px lightblue;
    /* color: blue; */
    margin-top: 4px;
    padding: 3px;
}

#inputUser{
    box-shadow: 2px 10px 8px lightblue;
    /* color: black;  */
    margin-top: 4px;
    padding: 3px;
}

#inputClave{
    box-shadow: 2px 10px 8px lightblue;
    /* color: black;  */
    margin-top: 4px;
    padding: 3px;
    
}

/* LISTA DE PAISES */
#FormListaPaises{
    /* box-shadow: 2px 10px 8px lightblue; */
    text-shadow: 5px 5px 5px lightskyblue;
    /* color: black;  */
    margin-top: 4px;
    padding: 3px; 
    font-family: Gloria Hallelujah ;
    background-color: whitesmoke;
}
/*FIN - Diseños de inmput para el usuario(Efectos de sombra)*/


/*input del usuario para el registro*/
.form-control{
    background-color: whitesmoke;
    
}

/*Espacio entre input del usuario*/
.col-sm-12{ 
    font-size: 30px;
    margin-top: 2px; 
} 

/*Logo Afa*/

.logo{
    width:20px ;
    margin-left: 45px;
}





/* RESPONSIVE */

@media only screen and (min-width:1000px) {

    .Formulario {
        
        width: 70%;
        justify-content: center;
        box-sizing: border-box;
    }
    #BotonReg{
        width: 32%;
    }
}

@media only screen and (min-width:1200px) {

    .Formulario {
        
        width: 100%;
        margin-left: 403px;
        
    }
}